<div>
  <p><%= event.start_time %> until <%= event.end_time %></p>

  <%= link_to event_path(event) do %>
    <p>
      <%= render 'events/event_description', event: event %>
    </p>
  <% end %>

</div>
