<div>
  <p><%= event.start_time_name %> until <%= event.end_time_name %></p>

  <%= link_to event_path(event) do %>
    <p>
      <%= event.event_description(current_user).capitalize %>
    </p>
  <% end %>
</div>
