  <h3>I'm wearing a...</h3>
  <div class="field outfit">
    <%= f.select :outfit_color, Rsvp::COLORS,  {}, {class: "form-control"} %>
    <%= f.select :outfit_object, Rsvp::OBJECTS,  {}, {class: "form-control"} %>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
  <p class="help-block">Pick something distinctive. This is how other hangers will find you!</p></div>
