  <h3>What are you wearing?</h3>
  <div class="field outfit">
    <%= f.select :outfit_color, Rsvp::COLORS,  {}, {class: "form-control"} %>
    <%= f.select :outfit_object, Rsvp::OBJECTS,  {}, {class: "form-control"} %>
  </div>
