@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans);

$serif: Georgia, Times, "Times New Roman", serif;
$sans-serif: 'Open Sans', sans-serif;

$light-neutral-color: #F9F8F3;
$other-brown: #3A1E1A; //or maybe
$brown: #523528;
$red: #B30F0F;
$other-red: #E00031;
$beige: #CCC6B7;

html {
  height: 100%;
}

body {
  font-family: $sans-serif;
  background: image-url("IMG_3093.JPG");
  background-size: cover;
  height: 100%
}

.container {
  background: $light-neutral-color;
  &.main {
    height: 100%;
    padding: 0;
  }
  &.content {
    padding-top: 15px;
  }
}

h1, h2, h3, h4 {
  font-family: $serif;
  color: $brown;
}

a {
  color: $red;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  background: $red;
  border-radius: 0;
  text-transform: uppercase;
  a {
    color: $light-neutral-color;
  }
  .glyphicon {
    color: $light-neutral-color;
  }
  li a:hover {
    background: $other-red;
  }
  .navbar-right:last-child{
    margin-right: 0;
  }
}


.location-window {
  height: 200px;
  margin: 15px 0;

  .location-window-info {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  .location-details {
    text-align: right;
    font-size: 80%;
  }
  .location-name {
    a {
      color: white;
    }
    font-size: 145%;
    line-height: 115%;
  }
  .handy-row {
    margin-left: 0;
    margin-right: 0;
    height: 200px;
    position: relative;

    background: image-url("IMG_0059.JPG");
    background-size: cover;
  }
}

.welcome {
  position: relative;
  top: -15px;
  color: $light-neutral-color;
  .welcome-image {
    width: 100%;
  }
  .first-row {
    background: $other-brown;
  }
  .second-row {
    background: $red;
  }
  .third-row {
    background: $other-brown;
  }
  .second-row, .third-row {
    text-align: center;
    padding: 30px;
  }
  .welcome-image-box {
    padding-left: 0px;
    padding-right: 0px;
  }
  h1, h2, h3, h4, h5{
    color: $light-neutral-color;
  }
  h1 {
    font-size: 4em;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding-bottom: 15px;
    }
  }
  p, li {
    font-size: 1.3em;
  }
  .textbox-first {
    padding-left: 25px;
  }
  .btn-lg {
    padding: 15px 30px;
    font-size: 25px;
    background-color: $brown;
    border-color: $other-brown;
    color: $light-neutral-color;
  }
}

.new_event_form_page, .user_form_page {
  label {
    font-size: 1.3em;
  }
  h1 {
    margin-bottom: 15px;
  }
  h1, p {
    text-align: center;
  }
  .form-label {
    text-align: right;
  }
  .form-control {
    width: 60%;
    display: inline-block;
    .actions {
      width: 40%;
    }
  }
  .outfit .form-control {
    width: 20%;
  }
  .time-inputs .form-control {
    width: 40%;
  }
  .interest-field {
    margin-bottom: 15px;
  }
  .col-sm-12 {
    text-align: center;
  }
  .row {
    margin-bottom: 20px;
  }
}

.event-box {
  p {
    font-size: 1.3em;
  }
  background: $beige;
  padding: 15px;
  h1 {
    margin-top: 5px;
  }
  margin-bottom: 15px;
}

.location-header {
  height: 200px;
  background-position: center center;
}
