@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans);

$serif: Georgia, Times, "Times New Roman", serif;
$sans-serif: 'Open Sans', sans-serif;

$light-neutral-color: #F9F8F3;
$brown: #3A1E1A; //or maybe #523528
$red: #C00404;
$other-red: #E00031;

html {
  height: 100%;
}

body {
  font-family: $sans-serif;
  background: image-url("IMG_3093.JPG");
  background-size: cover;
  height: 100%
}

.container {
  background: $light-neutral-color;
  &.main {
    height: 100%;
    padding: 0;
  }
}

h1, h2, h3, h4 {
  font-family: $serif;
  color: $brown;
  a {
    color: $red;
  }
}

.navbar {
  margin-bottom: 0;
  border: 0;
  background: $red;
  border-radius: 0;
  text-transform: uppercase;
  a {
    color: $light-neutral-color;
  }
  li a:hover {
    background: $other-red;
  }
  .navbar-right:last-child{
    margin-right: 0;
  }
}


.location-window {
  height: 200px;
  margin-top: 15px;

  .location-window-info {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  .location-details {
    text-align: right;
    font-size: 80%;
  }
  .location-name {
    a {
      color: white;
    }
    font-size: 145%;
    line-height: 115%;
  }
  .handy-row {
    margin-left: 0;
    margin-right: 0;
    height: 200px;
    position: relative;
    margin-top: 10px;

    background: image-url("IMG_0059.JPG");
    background-size: cover;
  }
}







