<h3>right now</h3>
<% @current_events.each do |event| %>
  <%= render 'events/single', event: event %>
<% end %>

<h3>later today</h3>
<% @future_events.each do |event| %>
  <%= render 'events/single', event: event %>
<% end %>
